recentf
session.*
.emacs.desktop
.projectile
auto-save-list
elpa/
.emacs.desktop
themes/*/
.netrc
.session
.python-environments
*.elc
.svn
*~
*.log
.*.lock
*.eld
*.cache
*.tut
*.el#
*.dat
eshell/
semanticdb/
GPATH
GRTAGS
GTAGS
win_apps/glo633wb
win_apps/pygments
win_apps/lua-5.2.3_Win32_bin
