recentf
session.*
.emacs.desktop
.projectile
auto-save-list
elpa/
.emacs.desktop
themes/*/
.netrc
.session
.python-environments
*.elc
.svn
*~
*.log
.*.lock
*.eld
*.cache
*.tut
*.el#
*.dat
eshell
semanticdb
GPATH
GRTAGS
GTAGS
gtags.files
win_apps/glo634wb
win_apps/pygments
tmp-dir
