recentf
*session*
.emacs.desktop
auto-save-list
.emacs.desktop
.session
.python-environments
*.elc
.svn
*~
*.log
.*.lock
*.eld
*.cache
*.tut
*#
*.dat
tmp-dir
helm-adaptive-history
srecode-map.el
network-security.data
.org-id-locations
emacs-custom.el
EmmyLua-LS-all.jar
.mc-lists.el
.lsp-session-v1
elpa/
themes/*
/server
